@{
    ViewBag.Title = "About";
}
@Styles.Render("~/Content/About.css")

<div class="about-container">
    <h2>About us</h2>
    <div class="about-item">
        <h4>Aliquam hendrerit leo felis, ultrices tempus eros facilisis in. Pellentesque sed pretium ante, congue mattis turpis. Integer quis fringilla enim, nec fringilla erat. Suspendisse vehicula lacus turpis. Aliquam semper pellentesque mauris in feugiat. Ut eget augue ipsum. Nulla feugiat ipsum est, vel consequat lorem suscipit in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac diam nulla. Suspendisse sagittis dignissim quam. Proin convallis nisi at ornare tempor. Aenean leo magna, molestie at velit vel, laoreet luctus mauris. Praesent imperdiet nec dui quis tempus. Integer et viverra dolor. Integer ornare quis turpis eget iaculis.</h4>
        <div><img src="~/Images/team1.jpg" /></div>
    </div>
    <div class="about-item">
        <h4>Aliquam hendrerit leo felis, ultrices tempus eros facilisis in. Pellentesque sed pretium ante, congue mattis turpis. Integer quis fringilla enim, nec fringilla erat. Suspendisse vehicula lacus turpis. Aliquam semper pellentesque mauris in feugiat. Ut eget augue ipsum. Nulla feugiat ipsum est, vel consequat lorem suscipit in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac diam nulla. Suspendisse sagittis dignissim quam. Proin convallis nisi at ornare tempor. Aenean leo magna, molestie at velit vel, laoreet luctus mauris. Praesent imperdiet nec dui quis tempus. Integer et viverra dolor. Integer ornare quis turpis eget iaculis.</h4>
        <div><img src="~/Images/team2.jpg" /></div>
    </div>
</div>

