
@{
    ViewBag.Title = "Blog";
}

@Styles.Render("~/Content/Blog.css")

<div class="blog-container">
    <h2>Blog</h2>
    <div class="blog-item">
        <div class="item-text">
            <div class="item-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#f2b713" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                </svg>
                <h3>Mauris a rutrum leo</h3>
            </div>
            <h5>Vivamus non lorem ac lorem consequat pulvinar. Sed feugiat dolor ut quam aliquam, eu ultrices elit condimentum. Nam elementum malesuada dictum. Mauris at consequat nulla. Proin placerat egestas urna nec posuere. Ut pharetra arcu enim, id blandit quam ornare mattis. Mauris non molestie libero.</h5>
        </div>
        <div class="item-image">
            <img src="~/Images/blackburger.jpg" />
            <div class="image-border"></div>
        </div>
    </div>
    <div class="blog-item">
        <div class="item-image">
            <img src="~/Images/margarita.jpg" />
            <div class="image-border-rev"></div>
        </div>
        <div class="item-text">
            <div class="item-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#f2b713" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                </svg>
                <h3>Nam id mattis tortor</h3>
            </div>
            <h5>Integer gravida eu magna non dignissim. Praesent euismod mattis neque, nec aliquam dui vestibulum sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas vel tortor vel ligula rhoncus consectetur.</h5>
        </div>
    </div>
    <div class="blog-item">
        <div class="item-text">
            <div class="item-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#f2b713" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                </svg>
                <h3>Duis ac bibendum est</h3>
            </div>
            <h5>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum commodo, nulla ut semper sollicitudin, dui est varius nisl, tincidunt rhoncus diam nisl vulputate dui. Suspendisse quam neque, pretium in sem sit amet, iaculis malesuada lectus.</h5>
        </div>
        <div class="item-image">
            <img src="~/Images/susi.jpg" />
            <div class="image-border"></div>
        </div>
    </div>
</div>

